@import "tailwindcss";

/* Blade templates */
@source "../views/**/*.blade.php";

/* Vue pages & components */
@source "../js/**/*.vue";

/* JS files using Tailwind classes */
@source "../js/**/*.js";

/* Laravel cached views */
@source "../../storage/framework/views/*.php";

/* Optional: theme overrides */
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
